** Basic SELECT statement **

```sql
SELECT *
FROM [TABLE]
```

** Not-so-basic SELECT statement **

```sql
SELECT [var1], count(*)
FROM [TABLE]
WHERE [var1] = some_condition
GROUP BY [var1]
HAVING ( count([var1]) > 1 )
ORDER BY [var1]
```

** Change a column name **

```sql
EXEC sp_rename '[TABLE].old_name', 'new_name';
GO
```

** Delete from a table **

```sql
DELETE FROM [TABLE] WHERE [var1] = some_condition
```

** Insert into a table **

```sql
INSERT INTO [TABLE2] (table2_var1, table2_var2)
SELECT table1_var1, table1_var2
FROM [TABLE1]
```

** Update multiple columns in a table **

```sql
UPDATE [TABLE]
SET [var1] = new_value_1,
    [var2] = new_value_2
WHERE var_1 = some_condition
```

** Add a column to a table and set to NULL **

NOTE: _varchar(255)_ indicates the data type.  For common data types, see the table below:

| common data-types      | SQL notation  | 
| ---------------------- |:-------------:|
| string/character       | varchar(n)    |
| integer                | int           |
| large integers         | bigint        |
| decimal                | decimal       |
| money                  | money         |

```sql
ALTER TABLE [TABLE]
ADD new_var varchar(255)
go

UPDATE [TABLE]
SET new_var = NULL
```

#### Remove whitespace

```sql
UPDATE [TABLE]
SET var1 = ltrim(rtrim(var1))
```

#### Split Names

```sql
SELECT SUBSTRING(name, 1, CHARINDEX(',', name) - 1) as name1,
    SUBSTRING(name, CHARINDEX(',', name) + 1, 255) as name2
FROM [TABLE]
WHERE name like '%,%'
```

```sql
UPDATE [TABLE]
SET name1 = SUBSTRING(name, 1, CHARINDEX(',', name) - 1),
	name2 = SUBSTRING(name, CHARINDEX(',', name) + 1, 255)
WHERE  name like '%,%'
go
```

#### Replace

```sql
UPDATE [TABLE1]
SET var1 = replace(var1, 'hello', 'goodbye')
WHERE var1 <> 'there'
```